body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#header div.extensions-count
{
    float: right;
    margin: 25px;
    font-size: 14pt;
}

#content
{
    border-top: 1px solid #C9E0ED;
    padding: 20px;
    clear: both;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 0;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#logo h1
{
    display: inline;
    margin-right: 25px;
}

#mainmenu
{
    border-top: 1px solid #C9E0ED;
	background: #6399D2;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

#welcome h2, #welcome p, .sorter, .filter {
	margin-left: 10px;
}

#repo {
    float: left;
    width: 70%;
}

#repo-sidebar {
    float: right;
    width: 25%;
}

.repo {
    border: solid 1px #ccc;
    margin: 10px;
    padding: 0;
    width: 280.6px;
    height: 139px;
    float: left;
}

#repo-sidebar .repo {
    margin: 0 0 10px 0;
    width: 100%;
	height: 109px;
}

.noreadme {
    margin-bottom: 0.75em;
}

.repo-head {
    border-bottom: solid 1px #ccc;
    background: #EFF4FA;
    padding: 3px;
}

.repo .contributors {
    text-align: right;
    float: right;
    padding: 0 3px;
}

.repo h3 {
    margin: 0;
    padding: 0;
}
.repo p {
    padding: 3px;
    margin: 0;
    height: 80px;
    min-height: 80px;
}

#repo-sidebar .repo p {
    height: 50px;
    min-height: 50px;
}

.repo a.readme {
    font-weight: bold;
}

.readmelist {
    line-height: 24px;
    margin-left: 3px;
    vertical-align: bottom;
}

.list-view .sorter {
    font-size: 1.0em !important;
    text-align: left !important;
    margin: 5px 0 0 10px !important;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}
